@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.heading.heading {
  font-family: 'Dancing Script', cursive;
  animation: slideDown 1.5s ease-out;
}

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap');

@layer base {
    .font-exo-2 {
        font-family: 'Exo 2', sans-serif;
    }
    body *:not(.heading) {
        @apply font-exo-2;
    }
}

@keyframes slideDown {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .myTooltip {
    position: absolute !important;
    bottom: 2px !important;
    left: 0px !important;
    color: whitesmoke !important;
}

.main-speed-dial .MuiSpeedDial-fab {
  background-color: rgb(49, 114, 136) !important;
  border-radius: 50% !important; 
}

.action-speed-dial {
  background-color: white !important;
  border-radius: 50% !important;
  margin-top: 10px !important;
}
